
##### Database settings #####

# Database name ("oracle", or "postgres")
db.name = postgres

# URL for connecting to database
db.url = jdbc:postgresql://localhost:5432/plnmonitor

# JDBC Driver
db.driver = org.postgresql.Driver

# Database username and password
db.username = plnmonitor
db.password = plnmonitor

db.maxconnections = 30

# Maximum time to wait before giving up if all connections in pool are busy (milliseconds)
# from 5000 to 5000
db.maxwait = 5000

# Maximum number of idle connections in pool (-1 = unlimited)
# from -1 to -1
db.maxidle = -1

# Determine if prepared statement should be cached. (default is true)
db.statementpool = true

#upload dir

upload.dir = /data/uploads

#ssl
ssl.host = bib7.ulb.ac.be
ssl.port = 9001

ssl.path = /data/keys_ssl
